body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

p, h2 {
    color: #fff;
}

.profile-picture {
    align-content:end;
}

.imagens {
    align-content: center;

}

/* Alinha os links da barra de navegação no topo do header */
header {
    background-color: #2e6eee;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: flex-start; /* Alinha os elementos na parte superior */
    justify-content: space-between;
    align-items: flex-start;
    position: relative; /* Necessário para posicionar elementos filhos de forma absoluta */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Empilha os links verticalmente */
}




nav li {
    margin-right: 20px;
}



/* Estilização dos elementos li como botões retangulares */
.skills {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #2e6eee;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Adiciona uma animação de transição quando o mouse passa sobre os elementos li */
 .skills:hover {
    background-color: #3b89ff;
    transform: scale(1.05);
}


/* Estilização dos links dentro da barra de navegação */
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4267B2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Adiciona uma animação de transição quando o mouse passa sobre os links */
nav a:hover {
    background-color: #334b8c;
    transform: scale(1.05);
}


.profile-info {
    position: absolute;
    top: 20px; /* Espaço a partir do topo */
    right: 20px; /* Espaço a partir da direita */
    text-align: right;
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.main {
    padding: 20px;
}

.post {
    background-color: #16151a;
    border: 1px solid #2e6eee;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); /* Adiciona sombreamento leve */
    transition: box-shadow 0.3s ease; /* Efeito de transição suave para sombra */
}

/* Estilização para alinhar uma imagem no canto esquerdo das categorias */
.post {
    position: relative; /* Necessário para posicionar elementos filhos de forma absoluta */
    padding-left: 120px; /* Define um espaço à esquerda para a imagem */
}

.post img {
    position: absolute;
    left: 0; /* Posiciona a imagem no canto esquerdo */
    top: 10px; /* Opcional: posiciona a imagem no canto superior */
    width: 100px; /* Largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}


/* Adiciona o efeito de sombreamento quando o cursor passar sobre os posts */
.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #2e6eee;
    color: #fff;
    text-align: center;
    padding: 20px;
}
