body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #29292c;
}

p, h2 {
    color: #fff;
}

.profile-picture {
    align-content:end;
}

.imagens {
    align-content: center;

}

header {
    background-color: #2e6eee;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

/* Estilização dos elementos li como botões retangulares */
li {
    margin-right: 20px;
    background-color: #2e6eee;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Adiciona uma animação de transição quando o mouse passa sobre os elementos li */
 li:hover {
    background-color: #334b8c;
    transform: scale(1.05);
}


nav a {
    text-decoration: none;
    color: #fff;
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.main {
    padding: 20px;
}

.post {
    background-color: #16151a;
    border: 1px solid #2e6eee;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); /* Adiciona sombreamento leve */
    transition: box-shadow 0.3s ease; /* Efeito de transição suave para sombra */
}

/* Adiciona o efeito de sombreamento quando o cursor passar sobre os posts */
.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #2e6eee;
    color: #fff;
    text-align: center;
    padding: 20px;
}
